* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom right, lightgray, white);
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.button {
    background-color: #3d6ded;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 120px;
}

.button:hover {
    background-color: #ddd;
    color: black;
}

.card {
    border: 1px solid red;
    align-items: center;
    background-image: linear-gradient(to bottom right, white, lightgray);
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 1);
    box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
    /*padding: 50px;*/
    padding: 20px 40px 25px;
    width: 80%;

}

.aboutme {
    border: 1px solid yellow;
    margin: 2rem 1rem;

}

.homemap {
    border: 1px solid yellow;
    /*margin: 2rem 1rem;*/
}

.nav-item {
    /*border: 1px solid red;*/
    color: #3d6ded;
    font-size: 1rem;
    margin: 0.7rem;
    padding: 0.7rem 0.7rem;
    text-decoration: none;

}

.topnav {
    /*border: 1px solid yellow;*/
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-color: #333;
    border-radius: 1rem;
    list-style: none;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    border-radius: 1rem;
    text-decoration: none;
    font-size: 1rem;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;

}

.page-wrapper {
    border: 1px solid pink;
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.profile-image {
    background-color: black;
    border-radius: 50%;
    color: white;
    font-size: 32px;
    height: 180px;
    margin: 20px;
    width: 180px;
}

a {
    text-decoration: none;
}

h2 {
    text-align: center;
}

#Serhii\ Pas {
    text-align: center;
    margin-top: 0rem;
}

.clickable {
    /*border: 1px solid red;*/
    background-color: #3d6ded;
    border-radius: 1rem;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 0.1rem;
    padding: 0.5rem;
}

.clickable:hover {
    background-color: #ddd;
    color: black;
}
